<div class="container d-flex flex-column">
    <ToggleButton Text="Segment" @onclick="OnButtonClicked" />
    <ToggleButton Text="Segment" @onclick="OnButtonClicked" />
    <ToggleButton Text="Segment" @onclick="OnButtonClicked" />
    <ToggleButton Text="Segment" @onclick="OnButtonClicked" />
</div>

@code {

}
